.slider {
    position: relative;
    width: 100%;
    background: 1px solid black;
    
    &-items {
       padding: 17em 1.9em;
        position: absolute;
        top:0;
        left:0;
        right: 0;
        bottom: 0;
        background-image: url('../img/sliderbg.png');
        background-size: cover;
        .rejisor {
            margin-top: -2em;
            &-item {
                display: block;
                width: 10px;
                height: 10px;
                background-color: $whiteCollor;
                margin-bottom: 1em;
                border-radius: 50%;
            }
            .imgs {
                display: flex;
                align-items: center;
                background: none;
                margin-bottom: 1em;
                margin-left: -0.5em;
                .caputre{
                    width: 2em;
                    height: 2em;
                    border: 2px solid $redColor;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-right: 1em;
                }
            }
            &-name {
                color: $whiteCollor;
                font-family: $adobeFont;
                margin-right: 0.5em;
                text-transform: capitalize;
            }
        }
    }
    &-panel {
        display: flex;
        justify-content: space-between;
        position: absolute;
        left:0;
        right: 0;
        bottom: 0;
        padding:1em 1.9em;
        &::before {
            content: "";
            position: absolute;
            top:0;
            left: 0;
            right: 0;
            bottom: 0;
            background: black;
            opacity: 0.3;
        }
        .credentials{
            z-index: 10;
            .whitetext {
                color: $whiteCollor;
                text-transform: uppercase;
                font-family: $adobeFont; 
                opacity: 1 !important;
            }
            .redtext {
                color: $redColor;
                text-transform: uppercase;
                font-family: $calibriFont;
                margin-right: 1em;
                opacity: 1 !important;
            }
            .box-rating {
                display: inline-block;
                opacity: 1 !important;
                .star {
                    width: 1em;
                    height: 0.9em;
                    fill: $whiteCollor;
                    fill-rule: evenodd;
                }
                .red-star {
                    stroke: $redColor;
                    fill: $redColor;
                    fill-rule: nonzero;
                }
            }
        }
        .likes{
            z-index: 10;
            color: $whiteCollor;
            font-family: $adobeFont;

            &-heart-count {
                margin-right: 1em;
                margin-left: 0.5em;
            }
            &-count {
                margin-left: 0.5em;
            }
        }
    }
    &-btn {
        border: none;
        background-color: $redColor;
        color: $whiteCollor;
        font-family: $adobeFont;
        text-transform: uppercase;
        padding: 1em 1.5em;
        border-radius: 10px;
    }
    .xypos {
        margin-right: 5em;;
        text-align: right;
        margin-top: -2em;
    }
}